/* ===== ADMIN ===== */
.table-admin thead tr {
    background-color: #0d2f5e !important;
    color: #ffffff !important;
}

.table-admin tbody tr:nth-child(odd) td {
    background-color: #c8c8c8 !important;
    color: #000 !important;
}

.table-admin tbody tr:nth-child(even) td {
    background-color: #a0a0a0 !important;
    color: #000 !important;
}

.table-admin a {
    color: inherit;
    text-decoration: none !important ;
}

.table-admin a:hover {
    text-decoration: underline;
}

/* Images miniatures */
.image-card {
    position: relative;
    width: 120px;
    text-align: center;
}

.image-card img {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.image-principal img {
    border: 3px solid var(--bs--primary) !important;
}
